<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="template/css/style.css" />
        <link rel="stylesheet" type="text/css" href="template/css/font.css" />
        <link rel="stylesheet" type="text/css" href="template/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="template/css/bootstrap.css" />
        <script src="template/js/bootstrap.min.js"></script>
        <script src="template/js/bootstrap.js"></script>
    </head>
    
    <header>
        <!-- logo Pokenantes -->
        <h1><img src="template/img/logo.png" alt="PokeNantes"></h1>
        <!-- menu de navigation -->
        <nav></nav>
        <!-- Zone de connexion -->
        <div></div>
    </header>

        <body>
            <div class="back-titre-page">
                <div class="zone-titre-page">
                <h2><img src="template/img/picto-h2.png" alt="picto"/></h2>
                    <h2>Test Background #1</h2>
                    <h3> // img 200x200px</h3>
                </div>
            </div>       
        </body>


        <footer class="footer">
            <p>POEC PHP - Imie</p>
        </footer>

</html>