<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="template/css/style.css" />
        <link rel="stylesheet" type="text/css" href="template/css/font.css" />
        <link rel="stylesheet" type="text/css" href="template/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="template/css/bootstrap.css" />
        <script src="template/js/bootstrap.min.js"></script>
        <script src="template/js/bootstrap.js"></script>
    </head>
    
    <header>
        <!-- logo Pokenantes -->
        <div id=logo>
            <h1>
                <img src="template/img/logo.png" alt="PokeNantes">
            </h1>
        </div>
        <!-- menu de navigation -->
        <nav>
            <h1>  
                <div class="menu-nav">
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Créer fiche produit</a></li>
                        <li><a href="#">Catégories produit</a></li>
                    </ul>
                 </div>
             </h1>
        </nav>
        <!-- Zone de connexion -->
        <div class="utilisateur"><h3>Utilisateur</h3></div>   

    </header>

        <body>
            <div class="back-titre-page">
                <div class="zone-titre-page">
                    <h2><img src="template/img/picto-h2.png" alt="picto"/></h2>
                    <h2>Accueil</h2>
                </div>
            </div>       
        </body>


        <footer class="footer">
            <p>POEC PHP - Imie</p>
        </footer>

</html>