<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="template/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="template/css/style.css" />
        <link rel="stylesheet" type="text/css" href="template/fonts/font.css" />
        <script src="template/js/jquery.min.js"></script>
        <script src="template/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
              $("#demo").on("hide.bs.collapse", function(){
                $(".li-cat");
              });
              $("#demo").on("show.bs.collapse", function(){
                $(".li-cat");
                
              });
              $("#demo").on("click", function() {
               $(this).css("background", "red");
                }); 
            });
        </script>

    </head>
    
    <header>
<header>
    <div class="nav-container">

            <!-- logo Pokenantes -->
            <div id="logo">
                    <h1>
                            <img src="template/img/logo.png" alt="PokeNantes">
                    </h1>
            </div>


<!-- Menu rotatif -->
            <div class="menu">
                    <ul class="menu-list">
                            <li><a href="#" class="hyper-link">Accueil
                                            <span class="box-animation">
                                            <span class="front">Accueil</span>
                                            <span class="back">Accueil</span>
                                            </span>
                                    </a>
                            </li>
                            <li>
                                    <a href="#" class="hyper-link">Créer fiche produit
                                            <span class="box-animation">
                                            <span class="front">Créer fiche produit</span>
                                            <span class="back">Créer fiche produit</span>
                                            </span>
                                    </a>
                            </li>
                            <li class="li-cat1">
                                <a href="#" type="button" class="hyper-link" data-toggle="collapse" data-target="#demo">
                                    <span class="glyphicon glyphicon-collapse-down"></span>
                                        Liste des catégories
                                    <span class="box-animation">
                                    <span class="front"><span class="glyphicon glyphicon-chevron-down"></span>Liste des catégories</span>
                                    <span class="back"><span class="glyphicon glyphicon-chevron-up"></span>Liste des catégories</span>
                                    </button>
                                    </span>
                                </a>
                             </li>
                    </ul>
            </div>

            <!--------->
            <!-- Zone nom utilisateur connecté -->
            <div class="utilisateur"><h3>Utilisateur</h3>
                <div class="btn"><a>Déconnexion</a></div>
            </div>

            <!-- Zone de connexion/déconnexion -->
            
    <div>
</header>

<!-- sous menu liste des catégories -->
    <div class="container">
        <div class="collapse" id="demo">
                <ul>
                        <li><a href="#" class="cat-nav">Catégorie 1</a></li>
                        <li><a href="#" class="cat-nav">Catégorie 2</a></li>
                        <li><a href="#" class="cat-nav">Catégorie 3</a></li>
                        <li><a href="#" class="cat-nav">Catégorie 4</a></li>
                        <li><a href="#" class="cat-nav">Catégorie 5</a></li>
                </ul>
        </div>
    </div>

</header>

        <body>
            <div class="back-titre-page">
                <div class="zone-titre-page">
                    <h2><img src="template/img/picto-h2.png" alt="picto"/></h2>
                    <h2>Accueil</h2>
                </div>
            </div>       
        </body>

        <footer class="footer">
            <p>POEC PHP - Imie</p>
        </footer>
</html>