{% extends 'NosBundlesProductBundle::layout.html.twig' %}

{# -- title -- #}
{% block title %}Accueil{% endblock %}

{# -- titre page -- #}

{% block title_page %}<h1>Acceuil</h1>{% endblock %}

{# -- contenu page -- #}

{% block main %}
		<div class="accueil">
			<a href="{{ path('product_new') }}" class="v-violet"><p>CRÉER FICHE PRODUIT</p></a>
			<a href="" class="v" value="" name="prod_cat"><p>AFFICHER TOUS LES PRODUITS</p></a>
		</div>

		<div class="categorie-tout">
			<img src="{{ asset('bundles/frameworkPoke/img/picto-h2.png') }}"/><h2>Toutes les catégories</h2>
			<form action="edit.html." method="GET" class="categorie">
						<a class="v" href="" value="vetements" name="prod_cat"><p>Vêtements</p></a>
						<a class="v" href="" value="deguisements" name="prod_cat"><p>Déguisements</p></a>
						<a class="v" href="" value="jeux" name="prod_cat"><p>Jeux Vidéos</p></a>
						<a class="v" href="" value="livres" name="prod_cat"><p>Livres</p></a>
						<a class="v" href="" value="dvd" name="prod_cat"><p>DVD</p></a>
						<a class="v" href="" value="cd" name="prod_cat"><p>CD</p></a>
						<a class="v" href="" value="figurines" name="prod_cat"><p>Figurines</p></a>
						<a class="v" href="" value="cartes" name="prod_cat"><p>Cartes de Collection</p></a>
			</form>
		</div>

{% endblock %}
