<!DOCTYPE html>
<html>
	<head>
		<title>Connexion</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="fonts/font.css" />

	</head>
	<body>
		{{header}}

		<main class="zone-connexion">

			<form class="form-connexion" action="traitement.php" method="">
				<div>
					<span class="input input--haruki">
						<input class="input__field input__field--haruki" type="text" id="input-1" name="login" />
						<label class="input__label input__label--haruki" for="input-1">
							<span class="input__label-content input__label-content--haruki">nom d'utilisateur</span>
						</label>
					</span>
				</div>
				<div>				
					<span class="input input--haruki">
						<input class="input__field input__field--haruki" type="text" id="input-1" name="login" />
						<label class="input__label input__label--haruki" for="input-1">
							<span class="input__label-content input__label-content--haruki">mot de passe</span>
						</label>
					</span>
				</div>
				<div>
					<input class="btn" type="submit" value="connexion"/>
				<div class="zone-identifiant">
					</div class="identifiant">
						<a href="#" class="identifiant">J'ai perdu mes identifiants de connexion</a>
					</div>
					<div class="identifiant">
						<input type="checkbox" name="check"><span class="">&nbsp</span> Mémoriser mes identifiants de connexion
					</div>
				</div>
			</form>
		</main>



		{{footer}}

	</body>
</html>