{% extends "::base.html.twig" %}

{% block title %}Liste produit{% endblock %}

{% use 'NosBundlesProductBundle:Template:header.html.twig' %}

{% block section %}

<!-- zone de titre de la page -->
	<div class="back-titre-page">
		<div class="zone-titre-page"><img src="bundles/productbundle/img/picto-h2.png"/><h1>
			Détail
		</h1>
		<h2>
			- Nom du Produit
		</h2>
		</div>
	</div>

{# ---------------------------------------- #}
<main>
			<article>
					<table border="1">
						<caption>
					  		<h3>QUANTITE</h3>
					  	</caption>
						<tr>
							 <th>Total</th>
							 <td>
							 	<input type="text" value="">
							 </td>
							 <th>Neuf(s)</th>
							 <td>
							 	<input type="text" value="">
							 </td>
							 <th>Occasion(s)</th>
							 <td>
							 	<input type="text" value="">
							 </td>
							 <td>
							 	<button>Modifier quantitié</button>
							 </td>
						</tr>
					</table>
				</article>

				<article>
					<table border="1">
						<caption>
					  		<h3>FOURNISSEUR</h3>
					  	</caption>
						<tr>
							<td>
							 	<input type="text" value="" placeholder="Nom du fournisseur">
							 </td>
							<td>
							 	<input type="text" value="" placeholder="Numéro de téléphone">
							</td>
						</tr>
					</table>
				</article>

				<article>
					<table border="1">
						<caption>
					  		<h3>PARTICULARITE</h3>
					  	</caption>
						<tr>
							<td>
							 	<input type="text" value="" placeholder="Total produits défaillants">
							 </td>
						</tr>
					</table>
				</article>

				<article>
					<img src="" alt="Image produit">
					<p>
						<h4>DESCRIPTION DU PRODUIT</h4>
						<h6>
							Biscuit powder tiramisu candy bear claw lemon drops apple pie. Chocolate bar candy
							jelly-o chupa chups. Gummies sugar plum cookie cheesecake bonbon cotton candy.
							Toffee marshmallow cheesecake liquorice candy. Powder tootsie roll jelly sugar plum
							jelly beans ice cream tootsie roll oat cake. Pudding gummies gingerbread dessert danish
							toffee soufflé macaroon. Chocolate chocolate bar biscuit oat cake. Pie lollipop pudding
							topping bear claw. Soufflé sweet wafer jujubes. Candy tiramisu macaroon. Cookie
							gingerbread jujubes bonbon. Powder pastry gummi bears pastry sugar plum. Candy
							cupcake jelly beans caramels cookie.
						</h6>
					</p>
				</article>
</main>

{% endblock %}

{% use 'NosBundlesProductBundle:Template:footer.html.twig' %}
