{% block header %}

<!-- Fichier header commun -->
<<<<<<< HEAD
<section>
=======

>>>>>>> marine
	<div class="nav-container">

			<!-- logo Pokenantes -->
			<div id="logo">
					<h1>
<<<<<<< HEAD
							<img src="img/logo.png" alt="PokeNantes">
					</h1>
			</div>
</section>
=======
							<img src="bundles/productbundle/img/logo.png" alt="PokeNantes">
					</h1>
			</div>

>>>>>>> marine

{% endblock %}
