{% block header %}

<!-- Fichier header commun -->

	<div class="nav-container">

			<!-- logo Pokenantes -->
			<div id="logo">
					<h1>
							<img src="bundles/productbundle/img/logo.png" alt="PokeNantes">
					</h1>
			</div>


{% endblock %}
