{% extends "::base.html.twig" %}

{% block title %}PokeNantes - Accueil{% endblock %}

{% use 'NosBundlesProductBundle:Template:header.html.twig' %}

{% block section %}

	<!-- zone de titre de la page -->
		<div class="back-titre-page">
			<div class="zone-titre-page"><img src="bundles/productbundle/img/picto-h2.png"/><h1>
				Accueil
			</h1>
			</div>
		</div>
		<div class="accueil">
			<a class="v-violet"><p>CREER FICHE PRODUIT</p></a>
			<a class="v"><p>AFFICHER TOUS LES PRODUITS</p></a>
		</div>

		<div class="categorie-tout">

			<img src="bundles/productbundle/img/picto-h2.png"/><h2>Toutes les catégories</h2>

		<div class="categorie">

			<a class="v"><p>Catégorie</p></a>

		</div>

		</div>

{% endblock %}

{% use 'NosBundlesProductBundle:Template:footer.html.twig' %}
