{% extends "::base.html.twig" %}

{% block title %}Liste produit{% endblock %}

{% use 'NosBundlesProductBundle:Template:header.html.twig' %}

{% block section %}

<!-- zone de titre de la page -->
	<div class="back-titre-page">
		<div class="zone-titre-page"><img src="bundles/productbundle/img/picto-h2.png"/><h1>
			Catégorie
		</h1>
		<h2>
			- Nom de la Catégorie
		</h2>
		</div>
	</div>

{# ---------------------------------------- #}
</main>
			<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>Quantité</th>
								<th>Total</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Neuf(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<td>
									<button>Modifier quantitié</button>
								</td>
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>En rupture de stock</th>
								<td>
									<input type="text" value="" placeholder="Nom du fournisseur">
								</td>
																<td>
									<input type="text" value="" placeholder="Numéro de téléphone">
								</td>
								<td>
									<button>Modifier quantitié</button>
								</td>
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>En rupture de stock</th>
								<td>
									<input type="text" value="" placeholder="Nom du fournisseur">
								</td>
																<td>
									<input type="text" value="" placeholder="Numéro de téléphone">
								</td>
								<td>
									<button>Modifier quantitié</button>
								</td>
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>Quantité</th>
								<th>Total</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Neuf(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<td>
									<button>Modifier quantitié</button>
								</td>
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>Quantité</th>
								<th>Total</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Neuf(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<td>
									<button>Modifier quantitié</button>
								</td>
							</tr>
						</table>
			</article>

</main>

{% endblock %}

{% use 'NosBundlesProductBundle:Template:footer.html.twig' %}
