<<<<<<< HEAD
<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Vue liste produit</title>
		<meta charset="utf-8" />
		<link href="css/bootstrap.css" rel="stylesheet">
		<script src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<div>
						<img src="img/logo.png" alt="logo"/>
					</div>
					<div>
					    <ul>
						  	<li><a href="#">Accueil</a></li>
						    <li><a href="#">Ajouter produit</a></li>
						    <li><a href="#">Catégories produit</a></li>
					    </ul>
					 </div>
					 <div>
					 	Nom Utilisateur
					 </div>
					 <div>
					 	<a href="#">Déconnexion</a>
					 </div>
				</nav>
			</header>
			<h1>[Catégorie produit]</h1>

			<nav>
				<div>
					<ul>
						<li><a href="#">Tous les produits</a></li>
						<li><a href="#">En Rupture de Stock</a></li>
						<li><a href="#">Produits Défecteux</a></li>
					</ul>
				</div>						
			</nav>			
			<aside>
				<section>
					<img src="" alt="image produit">
						<table border="1">								 
							<tr> 
								 <th><h3>NOM DU PRODUIT</h3></th> 
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td> 							 
							</tr>
						</table>
							
						<table border="1">
							<tr> 
								<th>Quantité</th>
								<th>Total</th> 
								<td>
									<input type="text" value="">
								</td> 		
								<th>Neuf(s)</th> 
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th> 
=======
{% extends "::base.html.twig" %}

{% block title %}Liste produit{% endblock %}

{% use 'NosBundlesProductBundle:Template:header.html.twig' %}

{% block section %}

<!-- zone de titre de la page -->
	<div class="back-titre-page">
		<div class="zone-titre-page"><img src="bundles/productbundle/img/picto-h2.png"/><h1>
			Catégorie
		</h1>
		<h2>
			- Nom de la Catégorie
		</h2>
		</div>
	</div>

{# ---------------------------------------- #}
</main>
			<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>Quantité</th>
								<th>Total</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Neuf(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th>
>>>>>>> marine
								<td>
									<input type="text" value="">
								</td>
								<td>
									<button>Modifier quantitié</button>
<<<<<<< HEAD
								</td> 
							</tr> 	
						</table>
				</section>

				<section>
					<img src="" alt="image produit">
						<table border="1">								 
							<tr> 
								 <th><h3>NOM DU PRODUIT</h3></th> 
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td> 							 
							</tr>
						</table>
							
						<table border="1">
							<tr> 
								<th>En rupture de stock</th>
								<td>
									<input type="text" value="" placeholder="Nom du fournisseur">
								</td> 		
=======
								</td>
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>En rupture de stock</th>
								<td>
									<input type="text" value="" placeholder="Nom du fournisseur">
								</td>
>>>>>>> marine
																<td>
									<input type="text" value="" placeholder="Numéro de téléphone">
								</td>
								<td>
									<button>Modifier quantitié</button>
								</td>
<<<<<<< HEAD
							</tr> 	
						</table>
				</section>

				<section>
					<img src="" alt="image produit">
						<table border="1">								 
							<tr> 
								 <th><h3>NOM DU PRODUIT</h3></th> 
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td> 							 
							</tr>
						</table>
							
						<table border="1">
							<tr> 
								<th>En rupture de stock</th>
								<td>
									<input type="text" value="" placeholder="Nom du fournisseur">
								</td> 		
=======
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>En rupture de stock</th>
								<td>
									<input type="text" value="" placeholder="Nom du fournisseur">
								</td>
>>>>>>> marine
																<td>
									<input type="text" value="" placeholder="Numéro de téléphone">
								</td>
								<td>
									<button>Modifier quantitié</button>
								</td>
<<<<<<< HEAD
							</tr> 	
						</table>
				</section>

				<section>
					<img src="" alt="image produit">
						<table border="1">								 
							<tr> 
								 <th><h3>NOM DU PRODUIT</h3></th> 
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td> 							 
							</tr>
						</table>
							
						<table border="1">
							<tr> 
								<th>Quantité</th>
								<th>Total</th> 
								<td>
									<input type="text" value="">
								</td> 		
								<th>Neuf(s)</th> 
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th> 
=======
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>Quantité</th>
								<th>Total</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Neuf(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th>
>>>>>>> marine
								<td>
									<input type="text" value="">
								</td>
								<td>
									<button>Modifier quantitié</button>
<<<<<<< HEAD
								</td> 
							</tr> 	
						</table>
				</section>

				<section>
					<img src="" alt="image produit">
						<table border="1">								 
							<tr> 
								 <th><h3>NOM DU PRODUIT</h3></th> 
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td> 							 
							</tr>
						</table>
							
						<table border="1">
							<tr> 
								<th>Quantité</th>
								<th>Total</th> 
								<td>
									<input type="text" value="">
								</td> 		
								<th>Neuf(s)</th> 
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th> 
=======
								</td>
							</tr>
						</table>
				</article>

				<article>
					<img src="" alt="image produit">
						<table border="1">
							<tr>
								 <th><h3>NOM DU PRODUIT</h3></th>
								 <td>
								 	<button>Modifier fiche produit</button>
								 	<button>Supprimer produit</button>
								 </td>
							</tr>
						</table>

						<table border="1">
							<tr>
								<th>Quantité</th>
								<th>Total</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Neuf(s)</th>
								<td>
									<input type="text" value="">
								</td>
								<th>Occasion(s)</th>
>>>>>>> marine
								<td>
									<input type="text" value="">
								</td>
								<td>
									<button>Modifier quantitié</button>
<<<<<<< HEAD
								</td> 
							</tr> 	
						</table>
				</section>

			<aside>
		</main>
		<footer>
			<h5>crédit : imie 2016 POEC PHP</h5>
		</footer>
	</body>
</html>
=======
								</td>
							</tr>
						</table>
			</article>

</main>

{% endblock %}

{% use 'NosBundlesProductBundle:Template:footer.html.twig' %}
>>>>>>> marine
