{% extends "NosBundlesUserBundle::layout.html.twig" %}

{% block fos_user_content %}

Bonjour
{{ app.user.firstname }} - {#{ app.user.email }#}

connection réussi

<a href="{{ path('UserBundle_page') }}"> Vers ma seconde page </a>
{% endblock fos_user_content %}
