/*BOUTONS*/
.active{
  color:red;
}

.btn {
  background: #1c0243;
  background-image: -webkit-linear-gradient(top, #1c0243, #1c0243);
  background-image: -moz-linear-gradient(top, #1c0243, #1c0243);
  background-image: -ms-linear-gradient(top, #1c0243, #1c0243);
  background-image: -o-linear-gradient(top, #1c0243, #1c0243);
  background-image: linear-gradient(to bottom, #1c0243, #1c0243);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #735989 3px;
  text-decoration: none;
  font-family: AvenirLTStd-Medium;
  height: 50px;
}

.btn:hover {
  background: #efa10b;
  background-image: -webkit-linear-gradient(top, #efa10b, #efa10b);
  background-image: -moz-linear-gradient(top, #efa10b, #efa10b);
  background-image: -ms-linear-gradient(top, #efa10b, #efa10b);
  background-image: -o-linear-gradient(top, #efa10b, #efa10b);
  background-image: linear-gradient(to bottom, #efa10b, #efa10b);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #fde6b9 3px;
  text-decoration: none;
  font-family: AvenirLTStd-Light;
  height: 50px;
}

/**************************************************/

/* Catégories du nav */


/*BOUTONS*/

.cat-nav {
  background: #efa10b;
  background-image: -webkit-linear-gradient(top, #efa10b, #efa10b);
  background-image: -moz-linear-gradient(top, #efa10b, #efa10b);
  background-image: -ms-linear-gradient(top, #efa10b, #efa10b);
  background-image: -o-linear-gradient(top, #efa10b, #efa10b);
  background-image: linear-gradient(to bottom, #efa10b, #efa10b);
  /*-webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;*/
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  /*border: solid #fde6b9 3px;*/
  border-right: solid white 3px;
  text-decoration: none;
  font-family: AvenirLTStd-Light;
  height: 50px;
}

.cat-nav:hover{
  background: #1c0243;
  background-image: -webkit-linear-gradient(top, #1c0243, #1c0243);
  background-image: -moz-linear-gradient(top, #1c0243, #1c0243);
  background-image: -ms-linear-gradient(top, #1c0243, #1c0243);
  background-image: -o-linear-gradient(top, #1c0243, #1c0243);
  background-image: linear-gradient(to bottom, #1c0243, #1c0243);
  /*-webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;*/
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border-right: solid white 3px;
  text-decoration: none;
  font-family: AvenirLTStd-Medium;
  height: 50px;
}

/*COLORS*/


.j, .v-fonce, .v, .v-clair, .v-clair-extra {
  height: 50px;
  width: 100px;
  color: white;
  margin: 1%;
  padding: 2%;
  display: inline-block;
}
.j{
  background-color: #efa10b;
}
.v-fonce{
  background-color: #1c0243;

}
.v-violet{
  background-color: #271e54;
  color:white;
}
.v-clair{
  background-color: #472b72;
}
.v-clair-extra{
  background-color: #735989;
}

/*--------------------------------*/

a {
  text-decoration: none;
}

body{
  margin: auto;
    color:#1c0243;
}

 #logo {
  float :left;
}

header div{
  border-bottom: 1% solid #1c0243;
  margin: 0.8%;
}

ul {
  list-style:none;
  display: inline-flex;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.utilisateur {

}

/************************************/

.zone-connexion {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.form-group {
    border: none;
    border-bottom: 2px solid #1c0243;
}

.form-control {
    border : none;
}

.identifiant {
    font-family: Helvetica;
    color : #1c0243;
}

.form-connexion {
  margin-top: 50%;
}

.form-connexion .btn {
    margin-top: 5%;
    margin-left: 200px;
}

.zone-identifiant {
  margin-top: 8%;
}

/************************************/
/* Animation champs page connexion (Haruki) */

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  /*max-width: 350px;*/
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #1c0243;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: grey;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: AvenirLTStd-Medium;
  font-size: 17px;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}


.input--haruki {
  margin: 4em 1em 1em;
}

.input__field--haruki {
  padding: 1.0em 0.25em;
  width: 100%;
  background: transparent;
  color: #1c0243;
  font-size: 1.55em;
}

.input__label--haruki {
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
}

.input__label-content--haruki {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 4px;
  background: #cfcad6;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--haruki::before {
  top: 0;
}

.input__label--haruki::after {
  bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
    background: #1c0243;
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
  background: #1c0243;
}

/************************************/

/* Menu rotatif*/

.menu-list { display:block;}
.menu-list li { display:inline-block; }
.menu-list li a {color:#eee; display: block; text-decoration: none; font-size:20px; padding:15px; font-family:Josefin Sans,sans-serif;}


.hyper-link{ transition: all .07s linear; position: relative;}
.box-animation {transition: all .3s ease-out; position: absolute; }
.front{ position: absolute; }
.back{ position: absolute; }


.hyper-link:hover .box-animation{transform: translateZ(-5px) rotateX(90deg);}

.box-animation{ transition: all .3s ease-out; position: absolute; transform:translatez(-25px); transform-style:preserve-3d; }
.front{ transform: rotatex(0deg) translatez(35px); position: absolute; }
.back, .back:active{ transform: rotatex(-90deg) translatez(25px); position: absolute; }

.hyper-link{ transition: all .07s linear; position: relative;}
.box-animation {transition: all .3s ease-out; position: absolute; }
.front{ position: absolute; }
.back{ position: absolute; }

.hyper-link:hover .box-animation{transform: translateZ(-5px) rotateX(90deg);}

.box-animation{ transition: all .3s ease-out; position: absolute; transform:translatez(-25px); transform-style:preserve-3d; }
.front{ transform: rotatex(0deg) translatez(35px); position: absolute; }
.back{ transform: rotatex(-90deg) translatez(25px); position: absolute; }


.box-animation,.box-animation:active{transition:all .3s ease-out; position:absolute;  transform:translatez(-25px); transform-style:preserve-3d; top:0; left:0; display:block; width:100%; height:100%;}
.front{transform:rotatex(0deg) translatez(35px); position:absolute; display:block; width:100%; height:100%;  top:0; left:0; background:#1c0243; padding:15px; color:white; box-sizing: border-box;}
.back, .back:active{transform:rotatex(-90deg) translatez(25px); position:absolute; display:block; width:100%; height:100%;  top:0; left:0; background:#efa10b; padding:15px; color:white; box-sizing: border-box;}


/***********************************/

.zone-titre-page{
  margin: 1%;
  padding: 1%;
  background-color: white;
}

#menu-nav a {
  font-family: AvenirLTStd-Medium;
  font-size : 25px;
  color: white;
  background-color: #2b0269;
}

#menu-nav a:hover {
  font-family: AvenirLTStd-Light;
  font-size : 25px;
  color: black;
  background-color: white;
}

h1{
  font-size: 30px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 20px;
}
h1, h2, h3{
  font: avenir;
  color: #efa10b;
  display: inline;
  vertical-align: super;
}

.v h1, .v h2, .v h3{
  color: #1c0243;
  display: inline;
  vertical-align: super;
}
img{
  padding-right: 1%;
}

.back-titre-page{
  background-image: url('../img/background.png');
  height: 100%;
  margin: 0px;
  padding: 1%;
  border-bottom: 20px solid white;
}

.accueil .v-violet, .accueil .v {
  height: 50px;
  width: 35%;
  margin: 0.5%;
  padding: 3%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.categorie, .accueil {
  text-align: center;
}
.categorie-tout{
  margin: 5%;
}

.categorie .v {
  height: 50px;
  width: 15%;
  padding: 2%;
  display: inline-block;
  text-align: center;
}
.v {
  background: #cfcad6;
  color:#1c0243;
}
/* Shutter In Horizontal */
.v, .v-violet {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.v:before, .v-violet:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1c0243;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.v:hover, .v:focus, .v:active, .v-violet:hover, .v-violet:focus, .v-violet:active{
  color:white;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.v:hover:before, .v:focus:before, .v:active:before, .v-violet:hover:before,.v-violet:active:before,.v-violet:focus:before {
  -webkit-transform: scaleX(0.3);
  transform: scaleX(0.9);
}

footer{
  background-color: #1c0243;
  color : white;
  height: 100%;
  margin: auto;
  padding: 1% 5%;
  border-top: 20px solid white;
  text-align: right;
  text-align: center;
  font-family: AvenirLTStd-Light;
}
